{% extends 'base.html' %}
{% block content %}
  
<main role="main" class="flex-shrink-0">
    <div class="container">
        <p style="margin-top: 100px;"></p>
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                {% for i in d_form %}
                <tr>
                    <td><a href="{{ i.dnews_links }}">{{ i.dnews_titles }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %} 