{% extends 'base.html' %}
{% load filter %}
{% block content %}

<main role="main" class="flex-shrink-0">
  <div class="container">
    <p style="margin-top: 100px;"></p>
    <table class='table'>
        <thead>
          <tr class='thead-dark'>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
          </tr>
        </thead>
      <tbody>
      {% for i in question_list %}
      <tr>
        <!--<td>{{ forloop.counter }}</td>-->
        <td> <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
          {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
        </td>
        <td>
          <a href="{% url 'detail' i.id %}">{{ i.subject }}</a>
          {% if i.answer_set.count > 0 %}
          <span class="text-danger small ml-2">{{ i.answer_set.count }}</span>
          {% endif %}
        </td>
        <td>{{ i.date }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <!-- Paginator -->
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if question_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
      {% endif %}
      <!-- Pagelist -->
      {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
          {% if page_number == question_list.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if question_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
      {% endif %}
    </ul>
    <a href="{% url 'question_create' %}" class="btn btn-primary">게시글 작성</a>
  </div>
</main>
{% endblock %}