{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <p style="margin-top: 100px;"></p>
    <h1> 역량기술서 </h1>
    <br>
    <dl>
      <dt><span style="font-size: 16pt;">1. 사용중인 도구들 </span></dt>
      <br>
      <dd><span style="font-size: 14pt;">Python 및 Django를 사용합니다 </span></dd>
      <dd>&emsp;- 백준 및 HackerRank를 통해 Python을 공부하고 있습니다. </dd>
      <dd>&emsp;- Django를 사용하여 간단한 WEB 어플리케이션을 만들고 있습니다. WEB Crawler로 뉴스의 제목과 링크를 가져와 MySQL DB와 연동하여 저장하고 보여줍니다. 추후에 회원가입 및 DB 저장, 카카오 API를 사용한 로그인 기능을 추가하는 것을 목표로 진행하고 있습니다. </dd>
      <dd>&emsp;- 코드는 Github로 관리하며, <a href="https://github.com/epicari/web_study/tree/master/python_test">Python</a> 및 <a href="https://github.com/epicari/my_django">Django</a>에서 확인할 수 있습니다. </dd>
      <br>
      <dd><span style="font-size: 14pt;">Docker 및 AWS를 사용합니다 </span></dd>
      <dd>&emsp;- Django 서버를 컨테이너화하고 AWS Elastic Beanstalk에 업로드하여 서비스 배포를 연습하고 있습니다. </dd>
      <dd>&emsp;- 추후에 Nginx와 Gunicorn을 연결하여 트래픽을 분산시키고 이들을 모두 쿠버네티스로 관리하는 것을 목표로 진행하고 있습니다. </dd>
      <br>
      <dt><span style="font-size: 16pt;">2. 리눅스 환경에서 코딩을 한 경험이 있습니다 </span></dt>
      <dd>&emsp;- <a href="https://rohc-lib.org">ROHC 라이브러리</a>를 사용하여 TCP 헤더를 가진 패킷을 압축 & 복원하는 커널 모듈을 gcc를 사용하여 만들었습니다. 패킷을 OSI 2와 3계층 사이에서 필터링하기 위해 Netfilter를 사용하였으며, 이 경험을 통해서 리눅스 커널 및 커널 코드를 분석해보고 데이터의 흐름을 알게 되었습니다. </dd>
      <dd>&emsp;- 코드는 <a href="https://github.com/epicari/rohc/blob/master/kmod.c">Github</a>에서 확인할 수 있습니다. </dd>
      <dd>&emsp;- <a href="https://www.nsnam.org/">네트워크 시뮬레이션 3(NS-3)</a>를 사용하여 네트워크를 구성하고 결과를 도출했습니다. NS-3에 구현된 모델들을 사용하여 다양한 네트워크를 구성하였으며, 코드를 추가하여 원하는 기능을 구현하고 결과를 도출했습니다. 오픈소스인 덕분에 제작자 및 여러 사용자와 코드 구현에 대한 의견을 나누게 된 경험을 얻었습니다. </dd>
      <dd>&emsp;- 코드는 Github <a href="https://github.com/epicari/lena-cr">LENA-CR</a>이나 <a href="https://github.com/epicari/ndn">NDN</a>에서 확인할 수 있습니다. </dd>
      <br>
      <dt><span style="font-size: 16pt;">3. 그 외에</span></dt>
      <dd>&emsp;- 네트워크 시뮬레이션인 OPNET을 활용하여 네트워크를 구성하고 결과를 도출했습니다. OPNET에서 GUI를 통해 연구하고자 하는 부분을 구성했으며, GUI로 구성할 수 없는 부분은 C로 기능을 추가하고 결과를 도출했습니다. </dd>
      <dd>&emsp;- 두 가지 프로젝트를 진행하면서 연구한 내용을 바탕으로 논문 4편(졸업논문 1편 포함)과 특허를 작성한 경험이 있습니다.</dd>
      <dd>&emsp;- 연구 및 사업에 대한 제안서를 작성해 본 경험이 있습니다.</dd>
    </dl>
  </div>
</main>
{% endblock %}